body{
	background-color: #d8d6dc;
}
*{
	margin: 0;
	padding: 0;
}
#logo{
	height: 150px;
	display: block;
	background-color: white;
	width: 100%;
	float: left;
}
#logo img{
	margin-top: 20px;
	margin-left: 30px;
}
#header{
	position: -webkit-sticky;
	position: sticky;
	float: left;
	top: 0;
	height: 40px;
	width: 100%;
	z-index: 10000;
	background-color: #808080;
}
#header ul{
	text-align: center;
	margin: 0;
	padding: 10px;
}
#header ul li{
	text-transform: uppercase;
	display: inline;
	padding: 0 10px;
	font-weight: 700;
	font-size: 13pt;
}
#header ul li a{
	text-decoration: none;
	color: white;
	font-family: Tahoma;
}
#header ul li a:hover{
	color: #cfffff;
}
#header ul li a:active{
	color: #bb2d21;
}
#content{
	position: relative;
	width: 1000px;
	top: 210px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 92em;
	background-color: #d8d6dc;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px gray;
}

#contentleft{
	left: 0;
	top: 0;
	margin: 20px 0 0 20px;
	padding: 10px;
	position: absolute;
	width: 620px;
	height: 88em;
	border: 1px solid gray;
	background-color: white;
	text-align: justify;
	border-radius: 5px;
	box-shadow: 0 0 10px 1px black;
}
#contentleft h1 a{
	text-decoration: none;
	font-family: tahoma, sans-serif;
	color: #00528b;
	font-size: 25px !important;
	font-weight: bold;
	word-spacing: 0.5px;
	background-color: white;
}
#contentleft p{
	font-size: 13pt;
	padding: 0 10px;
	
}
#contentright{
	right: 0;
	padding: 10px 0;
	margin: 20px 20px 0 0;
	position: absolute;
	width: 300px;
	height: 88em;
	border: 1px solid gray;
	background-color: white;
	box-shadow: 0 0 10px 1px black;
}
#cr1{
	position: inherit;
	width: 270px;
	height: 500px;
	top: 15px;			
	left: 15px;
	display: block;
	border: 0.5px solid #ecebec;
}
#cr2{
	position: inherit;
	width: 270px;
	height: 330px;
	top: 525px;
	left: 15px;
	display: block;
	border: 0.5px solid #ecebec;
}
#cr3{
	position: inherit;
	top: 870px;
	width: 270px;
	left: 15px;
	display: block;
	border: 0.5px solid #ecebec;
}
.cr h4{
	color: white;
	padding: 5px;
	text-transform: uppercase;
	background-color: #ff4e00;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;
}
#cr2 h4{
	background-color: #164233;
}
#cr3 h4{
	background-color: #3b5998;
}
.cr ul{
	padding: 5px 5px 5px 25px;
	text-align: justify;
	line-height: 13px;
}
.cr ul li{
	list-style-image: url("../images/mui_ten2.png");
	border-bottom: 1px dotted #e9e7e7;
	padding: 10px 5px 10px 0;
}
.cr ul li:last-child{
	border: 0;
}
.cr ul li a{
	color: black;
}
.cr ul li a:link, #cr ul li a:visited{
	text-decoration: none;
	font-size: 13px;
	font-family: Tahoma;
}
.cr ul li a:hover, #cr ul li a:active{
	color: #00528b;
}
#contentright ul li{
	font-weight: bold;
	font-size: 16pt;
	color: gray;
	text-shadow: 0 0 5px 2px black;
}
#about{
	position: fixed;
	right: 10px;
	display: block;
	z-index: 100000;
	top: 250px;
	height: 100px;
	width: auto;
	background-color: white;
	padding: 0 0 30px 10px;
	border-radius: 15px;
	box-shadow: 0 0 10px 1px blue;
}
#about ul{
	list-style-type: none;
	padding-right: 10px;
	text-align: center;
}
#about ul li{
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 15pt;
	color: #254d80;
	text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
#about ul li:first-child{
	text-shadow: none;
}