body{
	width: 464px;
	height: 250px;
	border: 6px solid #94b2bc;
	border-radius: 15px;
	margin: auto;
	margin-top: 100px;
	padding: 25px;
	background-color: #f3f6fb;
	font-family: Arial;
}
h1{
	font-family: Arial;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}
p{
	padding-right: 28px;
	font-style: italic;
	font-size: 13px;
	text-align: justify;
}
span{
	color: red;
}
input{
	margin-bottom: 10px;
	height: 20px;
	width: 99%;
	border: 1px solid #d5e3e4;
}
input:focus{
	background-color: #e9f1f4;
}
select{
	margin-bottom: 10px;
	font-size: 11pt;
	height: 25px;
	width: 100%;
	border: 1px solid #d5e3e4;
}
select:focus{
	background-color: #e9f1f4;
}
textarea{
	resize: none;
	margin-bottom: 10px;
	width: 99%;
	height: 170px;
	font-family: Arial;
	border: 1px solid #d5e3e4;
}
.is{
	color: black;
	font-style: italic;
	font-size: 10pt;
}
button{
	float: right;
	width: 100px;
	height: 28px;
	border-radius: 5px;
	border: 1px solid #8caeb8;
	background-color: #8fb5c0;
	color: white;
}
button:hover, button:active{
	cursor: pointer;
	background-color: #4267B2;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: gray;
}
